<nav>
    <button class="btn">Sport</button>
    <button class="btn">Competition</button>
    <button class="btn">Seasons</button>
    <button data-controller="events" data-action="click->events#sortAsc" class="btn">Date ↑</button>
    <button data-controller="events" data-action="click->events#sortDesc" class="btn">Date ↓</button>
    <button data-action="click->events#newEvent" class="btn">Create Event</button>
</nav>