{% extends 'base.html.twig' %}

{% block title %}Sports Events{% endblock %}

{% block body %}
    <h1>Sports Events</h1>
    <nav>
        <a href="#">Sport</a> |
        <a href="#">Competition</a> |
        <a href="#">Seasons</a> |
        <a href="#" data-turbo-action="sort" data-sort="asc">Date ↑</a> |
        <a href="#" data-turbo-action="sort" data-sort="desc">Date ↓</a> |
    </nav>

    <main>
        <turbo-frame 
            id="events-container" 
            data-controller="events">
        </turbo-frame>
    </main>
{% endblock %}