{% extends 'base.html.twig' %}

{% block title %}Sports Events{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>Sports Events</h1>

    {% include 'components/_toolbar.html.twig' %}
    
    <main>
        <turbo-frame 
            id="events-container" 
            data-controller="events">
        </turbo-frame>
    </main>
{% endblock %}