{% extends 'base.html.twig' %}

{% block title %}Sports Events{% endblock %}

{% block body %}
    <h1>Sports Events</h1>
    <nav>
        <a href="#">Sport</a> |
        <a href="#">Competition</a> |
        <a href="#">Seasons</a> |
        <a href="#" data-action="click->events#sortAsc">Date ↑</a> |
        <a href="#" data-action="click->events#sortDesc">Date ↓</a> |
    </nav>

    <main>
        <turbo-frame 
            id="events-container" 
            data-controller="events">
            {% include 'events/_table.html.twig' with { events: events } %}
        </turbo-frame>
    </main>
{% endblock %}